.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background: linear-gradient(135deg, #cfe7f3, #eff0f5);
  border-radius: 16px;
  box-shadow:
    6px 6px 12px rgba(34, 45, 65, 0.4),
    -6px -6px 12px rgba(240, 248, 255, 0.2);
  padding: 10px 20px 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

.icon {
  color: #dce9f5;
  background-color: #065096;
  padding: 5px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  gap: 5px;
  margin-bottom: 5px;
  color: #052a4b;
}

.input {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  background-color: #f5f3ed;
  cursor: pointer;
  box-shadow:
    6px 6px 12px rgba(34, 45, 65, 0.4),
    -6px -6px 12px rgba(240, 248, 255, 0.2);
  transition: all 300ms linear;
}

.input:hover,
.input:focus {
  background-color: #fff;
  box-shadow:
    6px 6px 12px rgba(34, 45, 65, 0.6),
    -6px -6px 12px rgba(240, 248, 255, 0.3);
  outline: none;
}

.input::placeholder {
  font-size: 14px;
}

@media screen and (min-width: 375px) {
  .form {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 360px;
  }
}
