.contact {
  background: linear-gradient(135deg, #cfe7f3, #eff0f5);
  border-radius: 16px;
  box-shadow:
    6px 6px 12px rgba(34, 45, 65, 0.4),
    -6px -6px 12px rgba(240, 248, 255, 0.2);

  width: 364px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.contactText {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contactIcon {
  fill: #065096;
  width: 18px;
  height: 18px;
}

.btn {
  width: 120px;
  height: 48px;
  /* padding: 10px;
  border-radius: 16px;
  border: none;
  background-color: #b2cee498;
  color: #052a4b;
  font-weight: 600;
  box-shadow:
    6px 6px 12px rgba(34, 45, 65, 0.4),
    -6px -6px 12px rgba(240, 248, 255, 0.2);
  transition: all 350ms linear; */
}

@media screen and (min-width: 375px) {
  .contact {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    width: 360px;
  }
}
