.list {
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

/* @media screen and (min-width: 1024px) {
  .list {
    max-width: 748px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    max-width: 1132px;

    margin: 0 auto;
  }
} */

@media screen and (min-width: 375px) {
  .list {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    width: 360px;
  }
}
